# Ignore AWS IoT certificates and private keys
certificate.pem.crt
private.pem.key
AmazonRootCA1.pem

# Ignore Python cache and virtual envs
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env.*
.envrc

# Logs
*.log

# Mac/Windows system files
.DS_Store
Thumbs.db
.end
__pycache__/
*.pem
